.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
.header {
  align-items: center;
  border: 1px solid #bbb;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 20px;
}
.text {
  align-items: center;
  display: flex;
  gap: 20px;
  background-color: #eee;
  border-radius: 12px;
  justify-content: space-between;
  padding: 30px;
}
.form-label {
  font-size: 16px;
  font-weight: 700;
}
.add-input {
  border: solid 1px greenyellow;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}
.add-button {
  background-color: burlywood;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  height: 40px;
  width: 140px;
}
.add-button:hover {
  background-color: #c18977;
  color: black;
}

/* list부분 */
.workingList {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}
.doneList {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}
.list {
  width: 270px;
  border: solid 3px #ffc0cb;
  border-radius: 12px;
  padding: 12px 24px 24px;
}
.clearList {
  width: 270px;
  border: solid 3px #ff6781;
  border-radius: 12px;
  padding: 12px 24px 24px;
}
.btnSetting {
  display: flex;
  gap: 10px;
}
.deleteBtn {
  border: solid 2px red;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 10px;
  height: 38px;
  width: 45%;
}
.completeBtn {
  border: solid 2px green;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 10px;
  height: 40px;
  width: 45%;
}
.cancelBtn {
  border: solid 2px skyblue;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 10px;
  height: 40px;
  width: 45%;
}
li {
  margin-left: 0;
  list-style-type: none;
}
